@font-face {
  font-family: 'YanoljaYache';
  src: url('./fonts/YanoljaYache.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'YanoljaYache', sans-serif;
}

.App {
  text-align: center;
  font-family: 'YanoljaYache', sans-serif;
}
