@font-face {
  font-family: 'YanoljaYache';
  src: url('./fonts/YanoljaYache.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: 'YanoljaYache', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  flex-direction: column;
}

.navbar-left {
  flex: 1;
  text-align: left;
  width: 100%;
}

.navbar-center {
  flex: 1;
  text-align: center;
  margin-top: 10px;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-family: 'YanoljaYache', sans-serif;
}

h2 {
  margin: 0;
  font-size: 32px;
  font-family: 'YanoljaYache', sans-serif;
}

.slider-container {
  margin: 20px;
  padding: 0 10px;
}

.part {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 10px; 기본 패딩을 조정하여 기본적인 간격 설정 */
  margin: 0 5px;  /* 기본 마진을 조정하여 기본적인 간격 설정 */
}

.part-circle {
  width: 80px;
  height: 80px;
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  margin: 0 5px; /* 간격을 위해 마진 추가 */
  border: 5px solid #0000; /* 테두리 추가 */
}


.part-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.part-label {
  margin-top: 5px;
  font-size: 12px;
  color: #555;
  font-family: 'YanoljaYache', sans-serif;
  text-align: center; /* 텍스트를 중앙에 정렬 */
  width: 100%; /* 전체 너비를 차지하도록 설정 */
}

.co-box {
  margin-top: 20px;
  width: 100%;
  height: 70vh;
  background-color: #b2bec3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.info-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.info-button:hover {
  background-color: #2980b9;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  height: 80vh;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #2980b9;
}

/* 미디어 쿼리: 화면 크기가 600px 이하인 경우 */
@media (max-width: 480px) {
  .part {
    padding: 0 5px; /* 작은 화면에서 패딩을 더 줄임 */
    margin: 0 3px;  /* 작은 화면에서 마진을 더 줄임 */
  }

  .part-circle {
    width: 60px; /* 작은 화면에서 원 크기를 줄임 */
    height: 60px; /* 작은 화면에서 원 크기를 줄임 */
    margin: 0 3px; /* 작은 화면에서 마진을 줄임 */
  }

  .part-label {
    font-size: 10px; /* 작은 화면에서 글자 크기를 줄임 */
  }
}
