@font-face {
  font-family: 'YanoljaYache';
  src: url('./fonts/YanoljaYache.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: 'YanoljaYache', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  flex-direction: column; /* 세로 방향으로 배치 */
}

.navbar-left {
  flex: 1;
  text-align: left;
  width: 100%; /* 전체 너비를 차지하도록 설정 */
}

.navbar-center {
  flex: 1;
  text-align: center;
  margin-top: 10px; /* 한 칸 아래로 내리기 위해 마진 추가 */
}

h1 {
  margin: 0;
  font-size: 24px;
  font-family: 'YanoljaYache', sans-serif;
}

h2 {
  margin: 0;
  font-size: 32px; /* 더 큰 글자 크기 설정 */
  font-family: 'YanoljaYache', sans-serif;
}

.slider-container {
  margin: 20px;
  padding: 0 10px;
}

.part {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px; /* 요소들 사이의 간격을 넓히기 위해 패딩을 추가 */
}

.part-circle {
  width: 80px;
  height: 80px;
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'YanoljaYache', sans-serif;
  font-size: 14px;
  cursor: pointer;
  margin: 0 30px; /* 간격을 넓히기 위해 마진을 조정 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.co-box {
  margin-top: 20px;
  width: 100%;
  height: 70vh;
  background-color: #b2bec3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  align-items: flex-start; /* 수직 정렬을 위쪽으로 */
  justify-content: flex-start; /* 수평 정렬을 왼쪽으로 */
  padding: 20px; /* 텍스트와 박스의 간격을 위해 패딩 추가 */
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.co-box h1 {
  font-family: 'YanoljaYache', sans-serif;
  font-size: 24px; /* 글자 크기 키우기 */
  display: flex;
  align-items: center;
}

.status-box {
  margin-left: 10px; /* CO 값과 상태 상자 사이의 간격 */
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}


.info-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.info-button:hover {
  background-color: #2980b9;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  height: 80vh;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #2980b9;
}
