@font-face {
    font-family: 'YanoljaYache';
    src: url('../fonts/YanoljaYache.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'YanoljaYache', sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    flex-direction: column;
  }
  
  .navbar-left {
    flex: 1;
    text-align: left;
    width: 100%;
  }
  
  .navbar-center {
    flex: 1;
    text-align: center;
    margin-top: 10px;
  }
  
  h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'YanoljaYache', sans-serif;
  }
  
  h2 {
    margin: 0;
    font-size: 32px;
    font-family: 'YanoljaYache', sans-serif;
  }
  
  .camera-box {
    margin-top: 20px;
    text-align: center;
  }
  
  .camera-box img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
  }
  